@charset 'utf-8';

:root {
  --mainColor: #1eada8;
}
.hide_txt {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body {
  font-family: "Noto Sans KR", "Pretendard", "Malgun Gothic", "맑은 고딕", Dotum,
    "돋움", "AppleSDGothicNeo", sans-serif;
  font-size: 16px;
  color: #000;
}
section {
  padding: 100px 3%;
}
.inner {
  max-width: 1440px;
  margin: auto;
}
#header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 900;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 3%;
  background: yellow;
}
#header h1 a {
  display: block;
  width: 175px;
  height: 50px;
  background: url(img/logo.png) no-repeat;
  background-size: contain;
}
#header #pc_nav {
  display: flex;
}
#header #gnb_1depth/*ul*/ {
  display: flex;
  color: #222;
  justify-content: center;
  gap: 80px;
}
#header #gnb_1depth > li {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row;
}
#header #gnb_1depth > li > a {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
#header .recruit {
  /* font-size: 20px; */
  font-weight: bold;
}
#header .gnb_2depth/*ul*/ {
  transform: translateX(-50%);
  position: absolute;
  top: 80px;
  left: 50%;
  display: flex;
  flex-flow: column;
  z-index: 10;
}
#header .gnb_2depth li {
  display: none;
  line-height: 1.8em;
  width: 130px;
  text-align: center;
  position: relative;
}
#header .gnb_bg {
  display: none;
  height: 150px;
  position: absolute;
  opacity: 0.6;
  left: 0;
  right: 0;
  top: 100%;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
#header .allmenu_wrap_active {
  display: none;
}
#main .main_visual_wrap {
  padding-top: 60px;
  overflow: hidden;
}

.main_visual_wrap .swiper-wrapper {
  width: 100vw;
  height: 740px;
}
.main_visual_wrap .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_visual_wrap .swiper-slide.slide1 {
  background-image: url(img/메인비주얼/main_visual_011.png);
}
.main_visual_wrap .swiper-slide.slide2 {
  background-image: url(img/메인비주얼/main_visual_021.png);
}
.main_visual_wrap .swiper-slide.slide3 {
  background-image: url(img/메인비주얼/main_visual_031.png);
}
.main_visual_wrap .swiper-slide.slide4 {
  background-image: url(img/메인비주얼/main_visual_041.png);
}

/* 스와이퍼 prev< next>버튼 */
.swiper-button-next:after,
.swiper-button-prev:after {
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--mainColor);
  position: absolute;
  top: 450px;
  /* swiper css로 하면 버튼이 자꾸 움직임 */
}
/* 스와이퍼 스크롤바 */
.main_visual_wrap .swiper-horizontal > .swiper-scrollbar,
.main_visual_wrap .swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 7px;
  position: absolute;
  bottom: auto;
  top: auto;
}
/* 스와이퍼 페이지네이션 불렛 버튼 */
.main_visual_wrap .swiper-pagination-bullet {
  background: var(--mainColor);
  width: 10px;
  height: 10px;
}
.main_visual_wrap
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: auto;
  top: 700px;
}
.main_visual_wrap .slide_txt p {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 250px;
  left: 300px;
}
hgroup {
  margin-bottom: 80px;
}
h3 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
hgroup p {
  font-size: 24px;
  line-height: 2em;
  text-align: center;
}
.business_list_box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.business_list_box li {
  border: 1px solid #ccc;
  overflow: hidden;
  width: 465px;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.business_list_box li .img_box {
  display: flex;
  justify-content: center;
  height: 250px;
  overflow: hidden;
  align-items: center;
}
.business_list_box li .img_box img {
  height: 35%;
}
.business_list_box li p {
  display: flex;
  align-items: center;
  background: var(--mainColor);
  height: 130px;
  font-size: 20px;
  color: #fff;
  line-height: 2em;
  padding: 30px;
  font-weight: 500;
}

/* ---------------------desc wrap --------------------------------------- */
.descrip_wrap {
  background-color: rgba(255, 255, 0, 0.1);
}
.descrip_wrap .swiper-container2 {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;
}

.img_circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}
.descrip_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descrip_wrap .swiper-slide {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.descrip_wrap .slide_txt {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.descrip_wrap .slide_txt span {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin: 40px 0 24px 0;
}
.descrip_wrap .slide_txt p {
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
}

/*-------------------------desc swiper---------------------------------------- */

/* 스와이퍼 prev< next>버튼 */
.descrip_wrap .swiper-button-next:after,
.swiper-button-prev:after {
}
.descrip_wrap .swiper-button-next,
.descrip_wrap .swiper-button-prev {
  color: purple;
  position: absolute;
  top: 2000px;
  /* swiper css로 하면 버튼이 자꾸 움직임 */
}
/* 스와이퍼 스크롤바 */
.descrip_wrap .swiper-horizontal > .swiper-scrollbar,
.descrip_wrap .swiper-scrollbar.swiper-scrollbar-horizontal {
  display: none;
}
/* 스와이퍼 페이지네이션 불렛 버튼 */
.descrip_wrap .swiper-pagination-bullet {
  display: none;
}
.descrip_wrap
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}

.news_list_box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.news_list_box li {
  overflow: hidden;
  border: 1px solid #dedede;
  width: 465px;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.news_list_box li .img_box {
  height: 300px;
  overflow: hidden;
}
.news_list_box li .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news_list_box .news_txt {
  padding: 0 30px;
  margin-bottom: 40px;
}
.news_list_box li span {
  font-size: 20px;
  font-weight: bold;
  color: var(--mainColor);
  display: block;
  margin-top: 36px;
}
.news_list_box li p {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 24px 0 36px;
}
.news_list_box li span.date {
  font-size: 16px;
  font-weight: normal;
  color: #6c6c6c;
  margin: 0;
}
#footer {
  background: var(--mainColor);
}
#footer .inner {
  display: flex;
  padding: 58px 58px;
  justify-content: space-between;
  flex-flow: row-reverse;
}
#footer .footer_address address {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}
#footer .footer_icon {
  display: flex;
  align-items: center;
}
#footer .footer_icon_box {
  display: flex;
  align-items: center;
}
#footer .footer_icon img {
  width: 80px;
}
#footer .footer_icon p {
  font-size: 14px;
  color: #fff;
  line-height: 1.2em;
  margin: 5px;
}
#footer .family_site_box {
  width: 250px;
  position: relative;
  height: 44px;
}
#footer button {
  width: 100%;
  display: flex;
  height: 44px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-align: left;
  border: 1px solid #828282;
  background: #fff;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 10px;
}
#footer button::after {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: 40%;
  right: 10px;
  transform: rotate(45deg);
  border-left: 2px solid #000;
  border-top: 2px solid #000;
}
#footer .fam_site {
  line-height: 2em;
  padding: 0 20px;
}
#footer .fam_site_bg {
  display: none;
  background: #fff;
  border-radius: 7px;
  padding: 15px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 45px;
  border: 1px solid #828282;
}
#footer .sns_list {
  display: flex;
  justify-content: flex-end;
}
#footer .sns_list img {
  filter: brightness(1.5);
}

/*-------Media Query------------------------------------------------------------------------------------- */

/* tab */

@media screen and (max-width: 1023px) {
  #header #pc_nav,
  .recruit {
    display: none;
  }
  #header {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 3%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 900;
  }
  #header .ham_btn {
    display: block;
    background: url(img/ham_btn.svg) no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 50px;
  }
  #header .allmenu_wrap_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* 불투명한 배경 색상 */
    z-index: 1000;
    transition: opacity 0.3s ease;
  }
  #header .allmenu_wrap_active {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px; /* 원하는 폭으로 조절 50%로 하면 줄인 창크기의 계속 절반너비 */
    height: 100%;
    background: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }

  #header .allmenu_wrap_active h1 a {
    display: block;
    width: 130px;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  #header .allmenu_list_1depth {
    position: absolute;
    top: 100px;
    right: 30px;
    left: 30px;
  }
  #header .allmenu_list_1depth li {
    font-size: 20px;
    margin: 40px 20px;
    font-weight: bold;
  }

  #header .allmenu_list_1depth > li:last-child::after,
  #header .allmenu_list_1depth > li:nth-child(2)::after {
    display: none;
  }
  #header .allmenu_list_1depth > li > a {
    display: flex;
    justify-content: space-between;
  }
  #header .allmenu_list_1depth > li > a::after {
    display: block;
    content: "";
    height: 8px;
    width: 8px;
    border-top: 2px solid rgb(5, 5, 5);
    border-right: 2px solid rgb(5, 5, 5);
    transform: rotate(135deg);
  }
  #header .allmenu_list_1depth > li > a:last-child::after,
  #header .allmenu_list_1depth > li > a:nth-child(2)::after {
    display: none;
  }
  #header .btn_allmenu_close {
    display: block;
    background: url(img/all_menu_close.svg) no-repeat;
    width: 36px;
    height: 36px;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 30px;
  }
  #header .allmenu_list_2depth {
    display: none; /* 현재 헤더의 높이만큼 띄워서 위치 조정 */
  }
  #header .allmenu_list_2depth > li {
    color: #6c6c6c;
    font-weight: normal;
    font-size: 15px;
    margin: 26px 20px;
  }
  .show {
    display: block !important; /* JavaScript에서 보이기/감추기 시 우선순위를 높이기 위해 !important 사용 */
  }
  #main .main_visual_wrap {
    padding-top: 60px;
  }
  .main_visual_wrap .swiper {
    width: 100%;
    height: 100%;
  }
  .main_visual_wrap .swiper-wrapper {
    width: auto;
    height: 379px;
  }
  .main_visual_wrap .swiper-slide {
    background-size: cover;
    background-position: center;
    position: relative;
  }
  /* 스와이퍼 prev< next>버튼 */
  .swiper-button-next:after,
  .swiper-button-prev:after {
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--mainColor);
    position: absolute;
    top: 250px;
    /* swiper css로 하면 버튼이 자꾸 움직임 */
  }
  /* 스와이퍼 스크롤바 */
  .main_visual_wrap .swiper-horizontal > .swiper-scrollbar,
  .main_visual_wrap .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 7px;
    position: absolute;
    bottom: auto;
    top: auto;
  }
  /* 스와이퍼 페이지네이션 불렛 버튼 */
  .main_visual_wrap .swiper-pagination-bullet {
    background: var(--mainColor);
    width: 10px;
    height: 10px;
  }
  .main_visual_wrap
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    top: 400px;
  }
  .main_visual_wrap .slide_txt p {
    width: 420px;
    font-size: 38px;
    color: #fff;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .business_list_box {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
  }
  .business_list_box li {
    width: 100%;
  }
  .business_list_box li a {
    display: flex;
    overflow: hidden;
  }
  .business_list_box li .img_box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    align-items: center;
  }
  .business_list_box li .img_box img {
    height: 30%;
    width: 60%;
  }
  .business_list_box li .img_box img.baemin_store {
    width: 80%;
  }
  .business_list_box li p {
    background: var(--mainColor);
    font-size: 20px;
    color: #fff;
    line-height: 2em;
    padding: 30px;
    font-weight: 500;
    width: 100%;
    height: 140px;
  }
  .descrip_wrap {
    padding-top: 60px;
  }
  .descrip_wrap .swiper {
    width: 100%;
    height: 100%;
  }
  .descrip_wrap .swiper-slide {
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .descrip_wrap .slide_txt {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .descrip_wrap .slide_txt span {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin: 40px 0 24px 0;
  }
  .descrip_wrap .slide_txt p {
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
  }
  .descrip_wrap .swiper-button-next,
  .descrip_wrap .swiper-button-prev {
    color: rgb(241, 176, 241);
    position: absolute;
    top: 1850px;
    /* swiper css로 하면 버튼이 자꾸 움직임 */
  }
  .news_list_box {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 80px;
  }
  .news_list_box li {
    overflow: hidden;
    border: 1px solid #dedede;
    width: 400px;
    border-radius: 15px;
    position: relative;
  }
  #footer .inner {
    display: flex;
    padding: 58px 58px;
    justify-content: space-between;
    flex-flow: column;
  }
  #footer .footer_address {
    display: flex;
    flex-flow: column-reverse;
    text-align: center;
  }
  #footer .footer_address address {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  #footer .footer_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #footer .footer_icon_box {
    display: flex;
    align-items: center;
  }
  #footer .footer_icon img {
    width: 80px;
  }
  #footer .footer_icon p {
    font-size: 14px;
    color: #fff;
    line-height: 1.2em;
    margin: 5px;
  }
  #footer .family_site_box {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    position: relative;
    gap: 10px;
    height: 100px;
  }
  #footer .sns_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footer .sns_list::before {
    content: "문의하기";
    color: #fff;
    cursor: pointer;
  }
  #footer .sns_list img {
    width: 40px;
  }
  #footer .fam_site_bg {
    z-index: 1;
  }
}
